.weather-description {
  font-size: 2rem;
  text-transform: capitalize;
}

.weather-attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px solid $white-color;

  .attribute-block {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    border-top: 1px solid $white-color;
    padding: 1rem;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: 13% center;
    padding-left: 13%;
    font-size: 0.9rem;

    &:nth-of-type(odd) {
      border-right: 1px solid $white-color;
    }

    &.feels-temp {
      background-image: url("../images/icons/temp.svg");
      background-size: auto 30px;
      background-position: 15% center;
    }

    &.pressure {
      background-image: url("../images/icons/pressure.svg");
    }

    &.humidity {
      background-image: url("../images/icons/humidity.svg");
    }

    &.wind-speed {
      background-image: url("../images/icons/wind.svg");
    }

    .attri-label {
      text-transform: uppercase;
      opacity: $opacity-light;
      margin-bottom: 0.3rem;
    }
  }
}

.forecast-options {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;

  .button {
    background-color: #6495ed;
    border: 2px solid #6495ed;
    color: $white-color !important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;

    &:hover,
    &:active,
    &:focus {
      background-color: #7b68ee !important;
      border: 2px solid #7b68ee;
    }

    &.active {
      background-color: #7b68ee;
      border: 2px solid $white-color;
    }
  }
}

.temptype-switcher {
  .button {
    padding: 8px;
    background-color: transparent;
    border: 1px solid $white-color;
    width: 125px;
    color: $white-color;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-bottom: 0;

    &:first-of-type {
      border-top-left-radius: 10px;
    }
    &:last-of-type {
      border-top-right-radius: 10px;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #bc8f8f;
    }

    &.active {
      background-color: #deb887;
    }
  }
}
