body {
  font-family: $font-stack;
  line-height: 1.2;
  background: rgb(248, 248, 252);
  background: linear-gradient(
    45deg,
    rgba(248, 248, 252, 1) 0%,
    rgba(230, 230, 250, 1) 100%
  );
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
}

.app {
  max-width: 320px;
  margin: 20px auto;
  background: rgb(30, 144, 255);
  background: linear-gradient(
    0deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(112, 176, 238, 1) 100%
  );
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}
