.footer-app {
  text-align: center;
  color: $white-color;
  opacity: 0.6;
  font-size: 0.8rem;
  padding: 1rem;

  p {
    margin: 0;
  }

  a {
    color: $white-color;
    text-decoration: underline;
  }
}
